@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet" />
<script src="~/app.js"></script>
<script>
    
    //Ext.onReady(function () {
    //    Ext.create('Ext.form.Panel', {//use class for
    //        width: 500,
    //    height: 300,
    //    padding: 10,
    //    id: 'UsrFrm',
    //    layout: {   //define layout types
    //        type: 'vbox',
    //        pack: 'center',
    //        align: 'center'
    //    },
    //    title: "User Form",
    //    layout: 'form',
    //    renderTo: document.body,//associate with body tag
    //    bodyPadding: 5,
    //    items: [{
    //        xtype: 'textfield',
    //        name: 'uName',
    //        fieldLabel: 'Name',
    //        allowBlank: false
    //    }, {
    //        xtype: 'textfield',
    //        name: 'fName',
    //        fieldLabel: 'Father Name'
    //    }, {
    //        xtype: 'datefield',
    //        name: 'dob',
    //        fieldLabel: 'D O B'
    //    }, {
    //        xtype: 'textareafield',
    //        name: 'addrss',
    //        fieldLabel: 'Address',
    //        maxValue: 250
    //    }, {
    //        xtype: 'numberfield',
    //        name: 'cntct',
    //        fieldLabel: 'Contact No.',
    //        maxValue: 9999999999,
    //    }, {
    //        xtype: 'button',
    //        text: 'SUBMIT',
    //        width: '100%',
    //        id: 'sbmtBtn',
    //        listeners: {            //Implement listener
    //            click: function () {
    //                var form = Ext.getCmp('UsrFrm');
    //                var values =form.getValues();//get values from form id
    //                console.log(values);
 
    //                Ext.Ajax.request({
    //                    url: '/Home/Save',
    //                    method: 'POST',
    //                    timeout:10000,
    //                    params: form.getForm().getFieldValues(),
    //                success: function () {
    //                    alert('success');
    //                },
    //                failure: function () {
    //                    alert('fail');
    //                }
 
    //            });
    //}
    //}
    //}],
    //});
    //});


    
</script>
